GFPGAN/gfpgan/weights/detection_Resnet50_Final.pth
GFPGAN/gfpgan/weights/GFPGANv1.3.pth
GFPGAN/gfpgan/weights/parsing_parsenet.pth
Image
Test.txt
test.ipynb
Weights/yolov2.h5
Weights/yolov3.h5
Weights/yolov4.h5
Weights/yolov4_1.h5
Weights/cnn_epochs_6.h5
Weights/cnn_resnetrs420_epochs_7.h5
IMG
step_by_step.ipynb
Weights/yolov2_3_anchor.h5
Weights/yolov3_3_anchor.h5
Weights/yolov4_3_anchor.h5
Weights/yolov4_iou_3_anchor.h5
Weights/yolov4_mish_3_anchor.h5
Weights/yolov8_n_last_mosaic_epoch.pth
env