tensorflow==2.14.0
opencv-python==4.9.0.80
matplotlib
scikit-learn
imutils
bs4
imgaug
pandas
streamlit==1.22.0
torch
basicsr==1.4.2
torchvision==0.17.1
facexlib
lmdb
tqdm
yapf
pyyaml
scipy
tb-nightly
realesrgan
openpyxl
st_pages
thop
imageio
pycocotools
onnxsim
onnxruntime
openvino
loguru
albumentations